<h1>About Us</h1>
<table>
  <tbody>
    <tr>
      <td>
        <img class="img-thumbnail mt-5" width="200" src="/Content/Images/img-chris.jpg" alt="Picture of Chris">
      </td>
      <td class="align-baseline spacing" width="600">
        <h3 class="mt-5 mb-3">About Chris Lapp-Benjamin</h3>
        <p>I'm a philomath focused on SQL, Python and finding the right questions to ask. 
            I enjoy collaborating with passionate people on difficult projects. 
            My love of analysis and abstraction permeates everything I do.
            I live for constant improvement, chasing perfection.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="img-thumbnail mt-5" width="200" src="/Content/Images/img-kamrin.jpg" alt="Picture of Kamrin">
      </td>
      <td class="align-baseline spacing">      
        <h3 class="mt-5 mb-3" width="600">About Kamrin Aubin</h3>
        <p>I'm a student at Durham College enrolled in Computer Programming (CPGM). 
            Been programming since Grade 10 and have worked with multiple languages 
            including Python, Java, C++, C#, and more. Class experience has taught me 
            multiple programming branches such as web development and object oriented 
            programming to name a few. Constantly pushing myself to improve my 
            understanding on how to program and the theory behind it. Very determined to 
            complete a given task and always strive to meet the required end result.</p>
      </td>
    </tr>
  </tbody>
</table>