<h1 class="mb-4">Welcome</h1>
<h3>Welcome to our Digital Portfolio!</h3>

<p class="col-lg-6">
   This site is designed to demonstrate our understanding of creating a site using ExpressJS.
   The site is hosted on a cloud service (Heroku) and connects to a remote database (Mongo DB Atlas) for users and
   contacts. 
</p>

<h3>Authors of the Site</h3>
<p> This site was made by Kamrin Aubin & Chris Lapp-Benjamin</p>

<button id="AboutUsButton" class="btn btn-primary">Learn About Us!</button>