<h1>Our Projects</h1>
<table>
  <tbody>
    <tr>
      <td width="800">
        <img class="img-thumbnail mt-5" src="/Content/Images/img-mpa.PNG" alt="Multi-purpose image">
      </td>
      <td class="align-baseline spacing">
        <h3 class="mt-5 mb-3" width="600">Multi-Purpose Application</h3>
        <p>It always starts somewhere and in our case, it was with Windows Forms. 
            Using Windows Forms and C#, we collectively put our previous assignments/labs into one multi-purpose application.
            The application contains a text editor, an average units shipped application, and a car inventory manager. The application
            supported one instance of the car inventory manager and the average units shipped, but you could have multiple text 
            editor instances.</p>
      </td>
    </tr>
    <tr>
      <td width="800">
        <img class="img-thumbnail mt-5" src="/Content/Images/img-sysa.jpg" alt="Test automation image">
      </td>
      <td class="align-baseline spacing">      
        <h3 class="mt-5 mb-3" width="600">Test Automation using Selenium</h3>
        <p>Automated test cases for a demo bank website. Using Selenium Driver and Python, we created multiple test suites
            targeted towards different aspects of the bank website. For example, testing input validation when adding/editing a  
            customer to the bank or when performing various banking transactions.</p>
      </td>
    </tr>
    <tr>
      <td width="800">
        <img class="img-thumbnail mt-5" src="/Content/Images/img-syde.jpg" alt="UML class diagram">
      </td>
      <td class="align-baseline spacing">      
        <h3 class="mt-5 mb-3" width="600">UML Diagramming (SYDE Project)</h3>
        <p>Throughout the Software Development Life Cycle, documentation and UML diagramming are essential. During our time
            at Durham College, we focused heavily on creating a system proposal which included UML diagrams. We made use-case, activity, 
            and class diagrams (like the one you see on the left). This diagram is only a part of a more comprehensive package that 
            included a feasibility analysis, a system request, use-case descriptions, and draft database tables.</p>
      </td>
    </tr>
  </tbody>
</table>