<h1>Our Services</h1>
<table>
  <tbody>
    <tr>
      <td>
        <img class="img-thumbnail mt-5" width="800" src="/Content/Images/img-service-netd.JPG" alt="Custom programming image">
      </td>
      <td class="align-baseline spacing" width="400">
        <h3 class="mt-5 mb-3">Custom Programming</h3>
        <p>We offer custom software development to suit your specific requirements.
            Knowledgeable with C#, .NET Framework, C++, Java, and more. Providing
            desktop, mobile and web application development.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="img-thumbnail mt-5" width="800" src="/Content/Images/img-service-webd.JPG" alt="Web service image">
      </td>
      <td class="align-baseline spacing">      
        <h3 class="mt-5 mb-3" width="400">Web Development</h3>
        <p>We offer client-centric web development services. Providing UI design and 
            full backend development including integration services. Experienced with
            HTML, CSS, PHP, and Java.</p>
      </td>
    </tr>
    <tr>
      <td>
        <img class="img-thumbnail mt-5" width="800" src="/Content/Images/img-service-sysa.JPG" alt="Software testing image">
      </td>
      <td class="align-baseline spacing">      
        <h3 class="mt-5 mb-3" width="400">Software Testing</h3>
        <p>We offer automated software testing. With our experience using tools 
            like Python and Selenium we are able to provide extensive and exhaustive
            testing for software applications.</p>
      </td>
    </tr>
  </tbody>
</table>